body{
    overflow: hidden;
    background-color: #181a1b;
}

#control-center{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    max-height: 100vh;
    width: 20vw;
    background-color: rgba(24, 26, 27, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
}

#global-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#vector-controls{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
}

.bttn{
    width: 100px;
    height: 30px;
    border-style: solid;
    border-radius: 20px;
    background-color: red;
    margin: 1rem;
}

.outer-div{
    border-radius: 10px;
    background: rgba(255,255,255,0.7);
    margin: 0.5rem;
    padding: 0.5rem;
}

.rangeVal{
    pointer-events: none;
    user-select: none;
    position:fixed;
    z-index: 2;
    font-size: 1.2rem;
    margin-left: 0.25rem;
}

input[type="range"]{
    -moz-appearance: none;
    height: 1.5rem;
    background-color: #aaa;
    border: none;
    overflow: hidden;
    z-index: 1;
}

input[type="range"]::-moz-range-thumb{
    -moz-appearance: none;
    width: 1px;
    height: 1.5rem;
    background-color: #f5f5f5;
    border: none;
    box-shadow: -500px 0px 0px 500px #ff0000;
    z-index: inherit;
}

