body{
    overflow: hidden;
    background-color: #181a1b;
}


#control-center{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    max-height: 100vh;
    width: 20vw;
    background-color: rgba(24, 26, 27, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
}

#global-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#vector-controls{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
}

.bttn{
    width: 100px;
    height: 30px;
    border-style: solid;
    border-radius: 20px;
    background-color: red;
    margin: 1rem;
}

.outer-div{
    border-radius: 10px;
    background: rgba(255,255,255,0.7);
    margin: 0.5rem;
    padding: 0.5rem;
}

/* .rangeVal{
    pointer-events: none;
    user-select: none;
    position:absolute;
    z-index: 2;
    font-size: 1.2rem;
    margin-left: 0.25rem;
}

input[type="range"]{
    -moz-appearance: none;
    height: 1.5rem;
    width: 10rem;
    background-color: #aaa;
    border: none;
    overflow: hidden;
    z-index: 1;
}

input[type="range"]::-moz-range-thumb{
    -moz-appearance: none;
    width: 1px;
    height: 1.5rem;
    background-color: #f5f5f5;
    border: none;
    box-shadow: -500px 0px 0px 500px rgba(0,0,0,0);
    z-index: inherit;
} */

.close-button{
    position: absolute;
    border-radius: 50%;
    background-color: rgb(237, 85, 101);
    width: 1.15rem;
    height: 1.15rem;
    z-index: 3;
    align-self: flex-end;
}

.close-button:hover{
    background-image: url('./assets/cross_32.png');
    background-size: contain;
}
.rangeVal{
    position:absolute;
    z-index: 3;
    font-size: 2rem;
    pointer-events: none;
    padding-left: 3px;
    align-self: center;
}

.innerRect{
    width: 300px;
    height: 40px;
    position: absolute;
    z-index: 2;
    align-self: center;
    pointer-events: none;
    border-style: none;
    margin: 0px;
    padding: 0px;
}

input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 300px;
    height: 40px;
    background-color: #aaa;
    overflow: hidden;
    z-index: 1;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    box-shadow: -500px 0px 0px 500px rgba(0,0,0,0);
    
}

input[type="range"]::-moz-range-thumb{
    -moz-appearance: none;
    width: 1px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    box-shadow: -500px 0px 0px 500px rgba(0,0,0,0);
    border: none;
}

