body{
    overflow: hidden;
    background-color: #181a1b;
    /* background-color: black; */
    color: white;
}


#control-center{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    max-height: 100vh;
    width: 20rem;
    background-color: rgba(24, 26, 27, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
}

#global-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#vector-controls{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
}

.bttn{
    width: 10rem;
    height: 1.95rem;
    border-style: none;
    border-radius: 20px;
    background-color: red;
    margin: 1rem;
    color: white;
    font-weight: bold;
}

.outer-div{
    border-radius: 10px;
    /* background: rgba(255,255,255,0.7); */
    background: rgba(24, 26, 27, 0.7);
    margin: 0.5rem;
    padding: 0.5rem;
}

.close-button{
    position: absolute;
    border-radius: 50%;
    background-color: rgb(148, 16, 30);
    width: 1.15rem;
    height: 1.15rem;
    z-index: 3;
    align-self: flex-end;
}

.close-button:hover{
    background-image: url('./assets/cross_32.png');
    background-size: contain;
}

.rangeVal{
    position:absolute;
    z-index: 3;
    font-size: 2rem;
    pointer-events: none;
    padding-left: 0.25rem;
    align-self: center;
}

.innerRect{
    width: 300px;
    height: 40px;
    position: absolute;
    z-index: 2;
    align-self: center;
    pointer-events: none;
    border-style: none;
    
    margin: 2px;
    /* padding: 0px; */
}

.infoPanelText{
    font-size: 1.2rem;
}

input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 300px;
    height: 40px;
    /* background-color: #aaa; */
    background-color: rgb(72, 78, 81);
    overflow: hidden;
    z-index: 1;
    color: black;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    box-shadow: -500px 0px 0px 500px rgba(0,0,0,0);
    
}

input[type="range"]::-moz-range-thumb{
    -moz-appearance: none;
    width: 1px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    box-shadow: -500px 0px 0px 500px rgba(0,0,0,0);
    border: none;
}

input[type="checkbox"]:not(:checked), 
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999%;
}

input[type="checkbox"] + label {
  display: inline-block;
  cursor: pointer;
  /* border: 1px solid black; */
  color: black;
  background-color:  rgb(72, 78, 81);
  user-select: none;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  color: white;
  /* margin: 2px; */
}

input[type="checkbox"]:checked + label {
  /* border: 1px solid white; */
  color: white;
  background-color: red;
}

.checkBoxContainer{
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 0.2rem;
}

